$base-color: #275d93;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $base-color;
}

h1 {
  text-align: center;
  margin-top: 1rem;
  font-size: 2.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 2rem;
}

.btn {
  letter-spacing: 1px;
  display: block;
  padding: 20px 25px;
  margin-top: 20px;
}

.steps {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  margin-top: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;

  .step {
    margin: 0.5rem 3rem;
    display: flex;
    color: #515151;
    a {
      color: $base-color;
    }
  }
}

.input-form {
  width: 60%;
  margin: 3rem auto;
}

.errorMsg {
  max-width: 350px;
  color: #f21e08;
  padding: 2px 0;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
}

.form-control.input-error {
  border: 2px solid #f21e08;
}

@media screen and (max-width: 1200px) {
  .input-form {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .steps .step {
    margin: 0.5rem 2rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .steps .step {
    margin: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
